In [1]:
import pandas as pd

In [6]:
gradient_boosted_result = pd.read_csv('gradient_boosted_submissions/gradient_boosted_1.csv')
random_forest_result = pd.read_csv('random_forest_submissions/random_forest_3.csv')

In [7]:
gradient_boosted_result

        id  prediction
0        0    0.000000
1        1    0.000000
2        2    0.000000
3        3   64.374750
4        4  250.980210
...    ...         ...
2155  2155   55.989002
2156  2156   14.215981
2157  2157    1.221824
2158  2158    2.010891
2159  2159    2.888812

[2160 rows x 2 columns]

In [8]:
random_forest_result

        id  prediction
0        0    0.020904
1        1    0.020774
2        2    0.114140
3        3   97.104930
4        4  444.673520
...    ...         ...
2155  2155   51.204433
2156  2156   14.977744
2157  2157    0.115007
2158  2158    0.002495
2159  2159    0.001113

[2160 rows x 2 columns]

In [10]:
# Calculate the average of the specified column from both DataFrames
average_column_df1 = gradient_boosted_result['prediction']
average_column_df2 = random_forest_result['prediction']

# Take the average of the two columns
average_column = (average_column_df1 + average_column_df2) / 2

print(average_column)

test = pd.read_csv('test.csv')
sample_submission = pd.read_csv('sample_submission.csv')

test['prediction'] = average_column
sample_submission = sample_submission[['id']].merge(test[['id', 'prediction']], on='id', how='left')
sample_submission.to_csv("ensemble_1.csv", index=False)

0         0.010452
1         0.010387
2         0.057070
3        80.739840
4       347.826865
           ...
2155     53.596717
2156     14.596863
2157      0.668416
2158      1.006693
2159      1.444962
Name: prediction, Length: 2160, dtype: float64